<section id="banner">
  <div class="container">
  <div class="row">
  <div class="col-md-6">
  <p class="promo-title">BEST Stubble AGENCY</p>
  <p>Sell your stubble at more price and rent your machines. yOu can also be a part of transport and can get money by transporting the stubble to
  the different conpanies.</p>
  <a href="#"><img src="/src/assets/img/play.png" class="play-btn">Watch Our Work!</a>
  </div>
  <div class="col-md-6 text-center">
  <img src="/src/assets/img/farmhome.png" class="img-fluid">
  </div>
  </div>
  </div>
  <img src="/src/assets/img/farmhome.png" class="bottom-img">
  </section>
