<img class="image" src="./assets/imgs/bg1.jpg">
<div class="container" style="align-items: center;">
  <div class="login">
    <form [formGroup]="newPostForm">

      <h2 class="title">Add New Post</h2>
        <div class="form-group">
            <!-- <label>Cost</label> -->
            <div class="i">
              <img src="./assets/image/money-bag.png">
            </div>
            <input formControlName="cost" type="number" class="form-control" placeholder="Enter cost">
        </div>
        <div class="date">
            <!-- <label>Expiry Date</label> -->
            <input formControlName="expiryDate" type="date" class="form-control" placeholder="expiry Date">
        </div>
        <div class="material">
            <!-- <label>Material</label> -->
            <select class="form-control" formControlName="material">
                <option selected disabled hidden>Select Material</option>
                <option [ngValue]="material._id" *ngFor="let material of materials">{{material.name}}</option>
            </select>
        </div>
        <button (click)="addPost()" [disabled]="newPostForm.invalid" type="submit" class="btn1">Add Post</button>
        <button (click)="cancel()" type="button" class="btn2">Cancel</button>

    </form>
  </div>
</div>
