
                <div class="blog-post">
                  <div class="blog-post-img1">
                    <img src= "assets/image/machine1.jpg" alt="tree">
                  </div>
                  <div class="blog-post-info">
                    <div class="blog-post-title">
                      <h2>Rice Cutting Machine</h2>

                    </div>
                    <div class="blog-post-date">
                     <b> <span>100 Rs / </span></b>
                      <span>1 Day</span><br>

                    </div>
                    <div class="blog-post-desc">
                      <p>Sinchan Nagar, Pune -413502</p>
                    </div>
                    <div class="blog-post-read-more">
                      <a href="#">See more</a>
                    </div>
                  </div>
                </div>


                <div class="blog-post">
                  <div class="blog-post-img1">
                    <img src= "assets/image/bg3.jpg" alt="tree">
                  </div>
                  <div class="blog-post-info">
                    <div class="blog-post-title">
                      <h2>Rice Cutting Machine</h2>

                    </div>
                    <div class="blog-post-date">
                     <b> <span>100 Rs / </span></b>
                      <span>1 Day</span><br>

                    </div>
                    <div class="blog-post-desc">
                      <p>Sinchan Nagar, Pune -413502</p>
                    </div>
                    <div class="blog-post-read-more">
                      <a href="#">See more</a>
                    </div>
                  </div>
                </div>


                <div class="blog-post">
                  <div class="blog-post-img1">
                    <img src= "../imgs/machine1.jpg" alt="tree">
                  </div>
                  <div class="blog-post-info">
                    <div class="blog-post-title">
                      <h2>Rice Cutting Machine</h2>

                    </div>
                    <div class="blog-post-date">
                     <b> <span>100 Rs / </span></b>
                      <span>1 Day</span><br>

                    </div>
                    <div class="blog-post-desc">
                      <p>Sinchan Nagar, Pune -413502</p>
                    </div>
                    <div class="blog-post-read-more">
                      <a href="#">See more</a>
                    </div>
                  </div>
                </div>

