#card-bar
{
    width:100vw;
    height:100vh;
    display: flex;
    color: green;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.card
{
  display:grid;
  grid-template-columns: 250px;
  grid-template-rows: 200px 150px 50px;
  grid-template-areas: "image" "text" "stats";
  font-family: "Raleway", sans-serif !important;
  border-radius: 18px;
  background:rgb(255, 255, 254);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 20px;
}
.card-image .card-image1 .card-image2
{
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}
.card-image
{
  background: url(../imgs/machine1.jpg);
  background-size: cover;
}
.card-image1
{
  background: url(../imgs/machine2.jpg);
  background-size: cover;
}
.card-image2
{
  background: url(../imgs/yrok3.jpg);
  background-size: cover;
}
.card-text .name{
  color: darkgreen;
  font-size: 18px;
}
.card-text .rent{
    color: black;
  font-size: 16px;

}

.card-text .unit{
   color:grey;
  font-size: 12px;
}
.card-text .location{
  color: rgb(33, 36, 1);
 font-size: 15px;
}
.card-text
{
  grid-area: text;
  margin: 20px;
  color: #fff;
}

.card:hover{
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(22, 88, 2, 0.6);
}
