<section id="card-bar">
  <div class="card">
    <div class="card-image"></div>
    <div class="card-text">
      <b><span class="name">Rice Cutting Machine</span><br></b>
      <span class="rent">100Rs</span>
      <span class="unit">/1 Day</span><br>
      <span class="location">Sinchan Nagar ,Pune -411020</span>
      <br><br>
     <button type="button" class="btn btn-success">See more</button>
     </div>

  </div>
  <div class="card">
   <div class="card-image1"></div>
   <div class="card-text">
    <b><span class="name">Rice Cutting Machine</span><br></b>
    <span class="rent">100Rs</span>
    <span class="unit">/1 Day</span><br>
    <span class="location">Sinchan Nagar ,Pune -411020</span>
    <br><br>
   <button type="button" class="btn btn-success">See more</button>
     </div>
 </div>

 <div class="card">
   <div class="card-image2"></div>
   <div class="card-text">
    <b><span class="name">Rice Cutting Machine</span><br></b>
    <span class="rent">100Rs</span>
    <span class="unit">/1 Day</span><br>
    <span class="location">Sinchan Nagar ,Pune -411020</span>
    <br><br>
   <button type="button" class="btn btn-success">See more</button>
    </div>
   </div>
 </section>


