
<section id="card-bar">
  <br><br>
      <button type="button" class="btn btn-success">+ New Post</button>
  <div class="card">
    <div class="card-image"></div>
    <div class="card-text">
      <span class="date">3 days Ago</span><br>
      <b> <span class="type">Wheat</span><br></b>
      <span class="quantity">20 &nbsp;</span>
      <span class="unit">Tone</span>
      <br><br>
      <button type="button" class="btn btn-success">Edit Post</button>
     </div>
  </div>
  <br>
  <div class="card">
   <div class="card-image1"></div>
   <div class="card-text">
    <span class="date">4 days Ago</span><br>
     <b> <span class="type">Corn</span><br></b>
      <span class="quantity">1000 &nbsp;</span>
      <span class="unit">Kilo</span>
      <br><br>
      <button type="button" class="btn btn-success">Edit Post</button>
   </div>
 </div>
 <br>
 <div class="card">
   <div class="card-image2"></div>
   <div class="card-text">
    <span class="date">20 days Ago</span><br>
    <b> <span class="type">Rice</span><br></b>
    <span class="quantity">2000 &nbsp;</span>
    <span class="unit">Tone</span>
    <br><br>
      <button type="button" class="btn btn-success">Edit Post</button>
      </div>
 </div>
 </section>


