<!-----About us------>
<section id="about-us">
  <div class="container">
  <h1 class="title text-center">Why choose us ?</h1>
  <div class="row">
  <div class="col-md-6 about-us">
  <p class="about-title">Why we're different</p>
    <ul>
    <li>Belive in doing business with honesty</li>
      <li>Belive in doing business with honesty</li>
    <li>Belive in doing business with honesty</li>
    <li>Belive in doing business with honesty</li>
    <li>Belive in doing business with honesty</li>
    <li>Belive in doing business with honesty</li>
    <li>Belive in doing business with honesty</li>
     </ul>
   </div>
   <div class="col-md-6">
    <img src="src/assets/img/network.png" class="img-fluid">
   </div>
  </div>
  </div>
  </section>

<!------Login register------>

<section id="testimonials">
  <div class="container">
  <h1 class="title text-center">What client say?</h1>
  <div class="row offset-1">
  <div class="col-md-5 testimonials">
     <p>Sell your stubble at more price and rent your machines. yOu can also be a part of transport and can get money by transporting the stubble to
     the different conpanies.</p>
     <img src="src/assets/img/user1.jpeg">
     <p class="user-details"><b>Kitty</b><br>co-founder of xyz</p>
  </div>
  <div class="col-md-5 testimonials">
     <p>Sell your stubble at more price and rent your machines. yOu can also be a part of transport and can get money by transporting the stubble to
     the different conpanies.</p>
     <img src="src/assets/img/user2.jpg">
     <p class="user-details"><b>Tom</b><br>Director of xyz</p>
  </div>
  </div>
  </div>
  </section>

