<img class="image" src="./assets/imgs/bg1.jpg">
<div>
  <label for="my-input">Search</label>
  <input #searchInput type="text" (keyup)="search(searchInput.value)">
</div>
<div *ngFor="let farmer of displayPosts" class="blog-post">
  <div class="blog-post-img1">
    <img [src]="farmer?.user?.profile" alt="Farmer">
</div>
  <div class="blog-post-info">
      <div class="blog-post-title">
        <h2>{{farmer?.user?.name}}</h2>
      </div>
      <div class="blog-post-date">
          <b> <span>Phone: </span></b>
          <span>{{farmer?.user?.phone}}</span><br>

          <b> <span>Address: </span></b>
          <span>{{farmer?.user?.address}}</span><br>

          <b> <span>Email Id: </span></b>
          <span>{{farmer?.user?.email}}</span><br>
      </div>
  </div>
</div>
