<!--- services section ---->
<section id="services">
  <div class="container text-center">
  <h1 class="title">What we do ?</h1>
  <div class="row text-center">
  <div class="col-md-4 services">
  <img src="assets/img/service1.png" alt="sea" class="service-img">
  <h4>Our Services</h4>
  <p>Sell your stubble at more price and rent your machines. yOu can also be a part of transport and can get money by transporting the stubble to
  the different conpanies.</p>
  </div>
  <div class="col-md-4 services">
  <img src="assets/img/service2.png" alt="farm" class="service-img">
  <h4>Our Branding</h4>
  <p>Sell your stubble at more price and rent your machines. yOu can also be a part of transport and can get money by transporting the stubble to
  the different conpanies.</p>
  </div>
  <div class="col-md-4 services">
  <img src="assets/img/service.png" alt="water" class="service-img">
  <h4>Animated Ads</h4>
  <p>Sell your stubble at more price and rent your machines. yOu can also be a part of transport and can get money by transporting the stubble to
  the different conpanies.</p>
  </div>
  </div>
  <button type="button" class="btn btn-primary">All Services</button>
</div>
</section>
