<section id="card-bar">
  <div class="card">
    <div class="card-image">
      <img >
    </div>
    <div class="card-text">
      <span class="card-icon"></span><br><br>
      <b><span class="name">Pritee Pawar</span><br></b><br>
      <span class="phone">+918698962781</span><br>
      <span class="Address">Rui,Paranda,Dist.Osmanabad</span><br>
      <span class="pincode">413502</span><br>
      <br>
      <button type="button" class="btn btn-success">Edit Profile</button>
     </div>
  </div>
 </section>


