  <div class="container">
    <div class="heading">
      <h1>Latest News And Feed</h1>
    </div>
    <div class="row">
      <div class="card">
        <div class="card-header">
          <h1>Price Change In Stubble</h1>
        </div>
        <div class="card-body">
          <p>
            Government has changed the price of stubble.
          </p>
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h1>Stubble Burning Is A Major Issue</h1>
        </div>
        <div class="card-body">
          <p>
            Stubble Burning has caused major impact on north india.
          </p>
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h1>Farmers will be fined on Burning Stubble</h1>
        </div>
        <div class="card-body">
          <p>
            Government Have Declared Fine of RS.2500 On Burning Stubble.
          </p>
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
</div>

