
                <div class="blog-post">
                  <div class="blog-post-img1">
                    <img src= "assets/image/bg3.jpg" alt="tree">
                  </div>
                  <div class="blog-post-info">
                    <div class="blog-post-title">
                      <h2>Price Change In Stubble</h2>

                    </div>
                    <div class="blog-post-date">
                      <span>Friday</span>
                      <span>June 12 2020</span>
                    </div>
                    <div class="blog-post-desc">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.</p>
                    </div>
                    <div class="blog-post-read-more">
                      <a href="#">Read More</a>
                    </div>
                  </div>
                </div>

                <div class="blog-post">
                  <div class="blog-post-img2">
                    <img src= "assets/image/burn.jpg" alt="tree">
                  </div>
                  <div class="blog-post-info">
                    <div class="blog-post-title">
                      <h2>Stubble Burning Is A Major Issue</h2>

                    </div>
                    <div class="blog-post-date">
                      <span>Friday</span>
                      <span>June 12 2020</span>
                    </div>
                    <div class="blog-post-desc">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.</p>
                    </div>
                    <div class="blog-post-read-more">
                      <a href="#">Read More</a>
                    </div>
                  </div>
                </div>

                <div class="blog-post">
                  <div class="blog-post-img3">
                    <img src= "assets/image/fine.jpg" alt="tree">
                  </div>
                  <div class="blog-post-info">
                    <div class="blog-post-title">
                      <h2>Farmers will be fined on Burning Stubble</h2>

                    </div>
                    <div class="blog-post-date">
                      <span>Friday</span>
                      <span>June 12 2020</span>
                    </div>
                    <div class="blog-post-desc">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.</p>
                    </div>
                    <div class="blog-post-read-more">
                      <a href="#">Read More</a>
                    </div>
                  </div>
                </div>


                <div class="blog-post">
                  <div class="blog-post-img1">
                    <img src= "assets/image/bg3.jpg" alt="tree">
                  </div>
                  <div class="blog-post-info">
                    <div class="blog-post-title">
                      <h2>Price Change In Stubble</h2>

                    </div>
                    <div class="blog-post-date">
                      <span>Friday</span>
                      <span>June 12 2020</span>
                    </div>
                    <div class="blog-post-desc">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.</p>
                    </div>
                    <div class="blog-post-read-more">
                      <a href="#">Read More</a>
                    </div>
                  </div>
                </div>

                <div class="blog-post">
                  <div class="blog-post-img1">
                    <img src= "assets/image/burn.jpg" alt="tree">
                  </div>
                  <div class="blog-post-info">
                    <div class="blog-post-title">
                      <h2>Stubble Is a Major Issue</h2>

                    </div>
                    <div class="blog-post-date">
                      <span>Friday</span>
                      <span>June 12 2020</span>
                    </div>
                    <div class="blog-post-desc">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.</p>
                    </div>
                    <div class="blog-post-read-more">
                      <a href="#">Read More</a>
                    </div>
                  </div>
                </div>

                <div class="blog-post">
                  <div class="blog-post-img1">
                    <img src= "assets/image/fine.jpg" alt="tree">
                  </div>
                  <div class="blog-post-info">
                    <div class="blog-post-title">
                      <h2>Farmers will be fined on Burning Stubble</h2>

                    </div>
                    <div class="blog-post-date">
                      <span>Friday</span>
                      <span>June 12 2020</span>
                    </div>
                    <div class="blog-post-desc">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.</p>
                    </div>
                    <div class="blog-post-read-more">
                      <a href="#">Read More</a>
                    </div>
                  </div>
                </div>

                <div class="blog-post">
                  <div class="blog-post-img1">
                    <img src= "assets/image/bg3.jpg" alt="tree">
                  </div>
                  <div class="blog-post-info">
                    <div class="blog-post-title">
                      <h2>Price Change In Stubble</h2>

                    </div>
                    <div class="blog-post-date">
                      <span>Friday</span>
                      <span>June 12 2020</span>
                    </div>
                    <div class="blog-post-desc">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.</p>
                    </div>
                    <div class="blog-post-read-more">
                      <a href="#">Read More</a>
                    </div>
                  </div>
                </div>

                <div class="blog-post">
                  <div class="blog-post-img1">
                    <img src= "assets/image/burn.jpg" alt="tree">
                  </div>
                  <div class="blog-post-info">
                    <div class="blog-post-title">
                      <h2>Stubble Burning Is a Major Issue</h2>

                    </div>
                    <div class="blog-post-date">
                      <span>Friday</span>
                      <span>June 12 2020</span>
                    </div>
                    <div class="blog-post-desc">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.</p>
                    </div>
                    <div class="blog-post-read-more">
                      <a href="#">Read More</a>
                    </div>
                  </div>
                </div>

                <div class="blog-post">
                  <div class="blog-post-img1">
                    <img src= "assets/image/fine.jpg" alt="tree">
                  </div>
                  <div class="blog-post-info">
                    <div class="blog-post-title">
                      <h2>Farmers will be fined on Burning Stubble</h2>

                    </div>
                    <div class="blog-post-date">
                      <span>Friday</span>
                      <span>June 12 2020</span>
                    </div>
                    <div class="blog-post-desc">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.</p>
                    </div>
                    <div class="blog-post-read-more">
                      <a href="#">Read More</a>
                    </div>
                  </div>
                </div>

                <div class="blog-post">
                  <div class="blog-post-img1">
                    <img src= "assets/image/bg3.jpg" alt="tree">
                  </div>
                  <div class="blog-post-info">
                    <div class="blog-post-title">
                      <h2>Price Change In Stubble</h2>

                    </div>
                    <div class="blog-post-date">
                      <span>Friday</span>
                      <span>June 12 2020</span>
                    </div>
                    <div class="blog-post-desc">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.</p>
                    </div>
                    <div class="blog-post-read-more">
                      <a href="#">Read More</a>
                    </div>
                  </div>
                </div>




