         <div id="wrapper">
            <div class="payment">
                <div class="payment_product">
                    <div>
                        <h2>Rice Cutting Machine</h2>
                        <div class="price">
                            ₹100/Day
                        </div>
                    </div>
                </div>
                <div class="payment_bill">
                    <h3>Receipt Summary</h3>
                    <ul>
                        <li>
                            <span>Location</span>
                            <span>Sinchan Nagar,411020</span>
                        </li>
                        <li>
                            <span>Rent Period</span>
                            <span>From 10/10/2020 To 14/10/2020</span>
                        </li>
                        <li>
                            <span>Bill Amount</span>
                            <span>₹100 * 4 Days</span>
                        </li>
                        <li>
                            <span>Total Bill</span>
                            <span>₹400.00</span>
                        </li>
                    </ul>
                    <hr>
                    <h3>Payment Information</h3>
                    <form action="/" class="payment_form">
                        <div class="form-input">
                            <input type="text" placeholder="Card Number" style="width: 100%;">
                        </div>

                        <div class="form-input">
                            <select>
                                <option>Month</option>
                                <option>January</option>
                                <option>February</option>
                                <option>March</option>
                                <option>April</option>
                                <option>May</option>
                                <option>June</option>
                                <option>July</option>
                                <option>August</option>
                                <option>September</option>
                                <option>October</option>
                                <option>November</option>
                                <option>December</option>
                            </select>

                            <select>
                                <option>Year</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                            </select>
                            <input type="text" placeholder="CVC">
                        </div>
                        <button type="submit">Make Payment</button>
                    </form>
                </div>
            </div>

        </div>



