<img class="image" src="./assets/imgs/bg1.jpg">
<div class="text-center text-danger m-4" *ngIf="!machines.length">
  <h4>No Rented machines yet</h4>
</div>
<div class="homeb">
<div *ngFor="let machine of machines" class="blog-post">
  <div class="blog-post-img1">
    <img [src]="machine.machine.image" alt="tree">
  </div>
  <div class="blog-post-info">
    <div class="blog-post-title">
      <h2>{{machine.machine.name}}</h2>

    </div>
    <div class="blog-post-date">
      <b> <span>Price: </span></b>
      <span>{{machine?.machine.charges}} Rs / </span>
      <span>1 Day</span><br>

      <b> <span>Address: </span></b>
      <span>{{machine?.renter?.user?.address}}india, {{machine?.renter?.user?.city}}</span><br>

      <b> <span>From Date: </span></b>
      <span>{{machine.fromDate}}</span><br>

      <b> <span>To Date: </span></b>
      <span>{{machine.toDate}}</span><br>

      <b> <span>Total days rented: </span></b>
      <span>{{machine.days}}</span><br>

      <b> <span>Total bill: </span></b>
      <span>{{machine?.machine?.charges * machine?.days}} Rs</span><br>


    </div>

  </div>
</div>
</div>
<!--
<div class="blog-post">
  <div class="blog-post-img1">
    <img src="assets/image/machine1.jpg" alt="tree">
  </div>
  <div class="blog-post-info">
    <div class="blog-post-title">
      <h2>Rice Cutting Machine</h2>

    </div>
    <div class="blog-post-date">

      <b> <span>Renter: </span></b>
      <span>Harbhajan Singh</span><br>

      <b> <span>Price: </span></b>
      <span>200 Rs / </span>
      <span>1 Day</span><br>

      <b> <span>Address: </span></b>
      <span>Sinchan Nagar, Pune -413502</span><br>

      <b> <span>From Date: </span></b>
      <span>19 Oct 2020 </span><br>

      <b> <span>To Date: </span></b>
      <span>22 Oct 2020 </span><br>


    </div>

    <div class="blog-post-read-more">
      <a href="#">Proceed To Payment</a>
    </div>
  </div>
</div>


<div class="blog-post">
  <div class="blog-post-img1">
    <img src="assets/imgs/yrok3.jpg" alt="tree">
  </div>
  <div class="blog-post-info">
    <div class="blog-post-title">
      <h2>Harvestor</h2>

    </div>
    <div class="blog-post-date">
      <b> <span>Renter: </span></b>
      <span>Shubham Dhende</span><br>

      <b> <span>Price: </span></b>
      <span>120 Rs / </span>
      <span>1 Day</span><br>

      <b> <span>Address: </span></b>
      <span>Sinchan Nagar, Pune -413502</span><br>

      <b> <span>From Date: </span></b>
      <span>1 Jan 2021 </span><br>

      <b> <span>To Date: </span></b>
      <span>5 Jan 2021 </span><br>


    </div>

    <div class="blog-post-read-more">
      <a href="#">Proceed To Payment</a>
    </div>
  </div>
</div>


<div class="blog-post">
  <div class="blog-post-img1">
    <img src="assets/imgs/machine2.jpg" alt="tree">
  </div>
  <div class="blog-post-info">
    <div class="blog-post-title">
      <h2>Floater</h2>

    </div>
    <div class="blog-post-date">
      <b> <span>Renter: </span></b>
      <span>Sanjay Jadhav</span><br>

      <b> <span>Price: </span></b>
      <span>100 Rs / </span>
      <span>1 Day</span><br>

      <b> <span>Address: </span></b>
      <span>Sinchan Nagar, Pune -413502</span><br>

      <b> <span>From Date: </span></b>
      <span>21 Nov 2020 </span><br>

      <b> <span>To Date: </span></b>
      <span>29 Nov 2020 </span><br>


    </div>

    <div class="blog-post-read-more">
      <a href="#">Proceed To Payment</a>
    </div>
  </div>
</div> -->
