<section id="card-bar">
  <div class="card">
    <div class="card-image"></div>
    <div class="card-text">
      <span class="date">4 days Ago</span>
      <h2>Farm To Energy</h2>
     <h5>Sinchan Nagar ,Pune -411020</h5>
     </div>
     <div class="card-stats">
       <div class="stat">
      <div class="value"><h6>2000<sup>Rs</sup></h6></div>
      <div class="Type">1 Tone</div>
       </div>
       <div class="stat">
         <div class="value"><h6>Corn</h6></div>
         <div class="Type">Stubble</div>
          </div>
          <div class="stat">
           <div class="value"><h6>20-Oct-20</h6></div>
           <div class="Type">Delivery Date</div>
            </div>

     </div>
  </div>
  <div class="card">
   <div class="card-image1"></div>
   <div class="card-text">
     <span class="date">2 days Ago</span>
     <h2>Panjab Fuel</h2>
    <h5>Sinchan Nagar ,Pune -411020</h5>
    </div>
    <div class="card-stats">
      <div class="stat">
     <div class="value"><h6>2000<sup>Rs</sup></h6></div>
     <div class="Type">1 Tone</div>
      </div>
      <div class="stat">
        <div class="value"><h6>Corn</h6></div>
        <div class="Type">Stubble</div>
         </div>
         <div class="stat">
          <div class="value"><h6>20-Oct-20</h6></div>
          <div class="Type">Delivery Date</div>
           </div>
    </div>
 </div>

 <div class="card">
   <div class="card-image2"></div>
   <div class="card-text">
     <span class="date">10 days Ago</span>
     <h2>Kriya Labs</h2>
    <h5>Sinchan Nagar ,Pune -411020</h5>
    </div>
    <div class="card-stats">
      <div class="stat">
     <div class="value"><h6>2000<sup>Rs</sup></h6></div>
     <div class="Type">1 Tone</div>
      </div>
      <div class="stat">
        <div class="value"><h6>Corn</h6></div>
        <div class="Type">Stubble</div>
         </div>
         <div class="stat">
          <div class="value"><h6>20-Oct-20</h6></div>
          <div class="Type">Delivery Date</div>
           </div>
    </div>
 </div>
 </section>


