
                <div class="blog-post">
                  <div class="blog-post-img1">
                    <img src= "assets/image/bg3.jpg" alt="tree">
                  </div>
                  <div class="blog-post-info">
                    <div class="blog-post-title">
                      <h2>Kriya Labs</h2>

                    </div>
                    <div class="blog-post-date">
                     <b> <span>Delivery date</span></b>
                      <span>June 12 2020</span><br>
                      <b> <span>Type </span></b>
                         <span>Corn </span><br>
                      <span>2000 Rs /1 Tone</span>
                    </div>
                    <div class="blog-post-desc">
                      <p>Sinchan Nagar, Pune -413502</p>
                    </div>
                    <div class="blog-post-read-more">
                      <a href="#">Accept</a>
                    </div>
                  </div>
                </div>


                <div class="blog-post">
                  <div class="blog-post-img1">
                    <img src= "assets/image/bg3.jpg" alt="tree">
                  </div>
                  <div class="blog-post-info">
                    <div class="blog-post-title">
                      <h2>Kriya Labs</h2>

                    </div>
                    <div class="blog-post-date">
                     <b> <span>Delivery date</span></b>
                      <span>June 12 2020</span><br>
                      <b> <span>Type </span></b>
                         <span>Corn </span><br>
                      <span>2000 Rs /1 Tone</span>
                    </div>
                    <div class="blog-post-desc">
                      <p>Sinchan Nagar, Pune -413502</p>
                    </div>
                    <div class="blog-post-read-more">
                      <a href="#">Accept</a>
                    </div>
                  </div>
                </div>


                <div class="blog-post">
                  <div class="blog-post-img1">
                    <img src= "assets/image/bg3.jpg" alt="tree">
                  </div>
                  <div class="blog-post-info">
                    <div class="blog-post-title">
                      <h2>Kriya Labs</h2>

                    </div>
                    <div class="blog-post-date">
                     <b> <span>Delivery date</span></b>
                      <span>June 12 2020</span><br>
                      <b> <span>Type </span></b>
                         <span>Corn </span><br>
                      <span>2000 Rs /1 Tone</span>
                    </div>
                    <div class="blog-post-desc">
                      <p>Sinchan Nagar, Pune -413502</p>
                    </div>
                    <div class="blog-post-read-more">
                      <a href="#">Accept</a>
                    </div>
                  </div>
                </div>


                <div class="blog-post">
                  <div class="blog-post-img1">
                    <img src= "assets/image/bg3.jpg" alt="tree">
                  </div>
                  <div class="blog-post-info">
                    <div class="blog-post-title">
                      <h2>Kriya Labs</h2>

                    </div>
                    <div class="blog-post-date">
                     <b> <span>Delivery date</span></b>
                      <span>June 12 2020</span><br>
                      <b> <span>Type </span></b>
                         <span>Corn </span><br>
                      <span>2000 Rs /1 Tone</span>
                    </div>
                    <div class="blog-post-desc">
                      <p>Sinchan Nagar, Pune -413502</p>
                    </div>
                    <div class="blog-post-read-more">
                      <a href="#">Accept</a>
                    </div>
                  </div>
                </div>


                <div class="blog-post">
                  <div class="blog-post-img1">
                    <img src= "assets/image/bg3.jpg" alt="tree">
                  </div>
                  <div class="blog-post-info">
                    <div class="blog-post-title">
                      <h2>Kriya Labs</h2>

                    </div>
                    <div class="blog-post-date">
                     <b> <span>Delivery date</span></b>
                      <span>June 12 2020</span><br>
                      <b> <span>Type </span></b>
                         <span>Corn </span><br>
                      <span>2000 Rs /1 Tone</span>
                    </div>
                    <div class="blog-post-desc">
                      <p>Sinchan Nagar, Pune -413502</p>
                    </div>
                    <div class="blog-post-read-more">
                      <a href="#">Accept</a>
                    </div>
                  </div>
                </div>

