
<!--------------------Social media section-------------->
<section id="social-media">
  <div class="container text-center">
  <p>Find Us On Social Media</p>
    <div class="social-icons">
    <a href="#"><img src="assets/img/fb.png"></a>
      <a href="#"><img src="assets/img/in.png"></a>
      <a href="#"><img src="assets/img/what.png"></a>
    <a href="#"><img src="assets/img/insta.png"></a>
    <a href="#"><img src="assets/img/fb.png"></a>
     <a href="#"><img src="assets/img/snap.png"></a>
  </div>
  </div>
  </section>

<!--------------------Footer section----------->
<section id="footer">
  <img src="assets/img/wave21.png" class="footer-img">
  <div class="container">
  <div class="row">
  <div class="col-md-4 footer-box">
  <img src="https://img.icons8.com/doodle/96/000000/wheat--v1.png">
    <p>Sell your stubble at more price and rent your machines. yOu can also be a part of transport and can get money by transporting the stubble to
     the different conpanies.Press the icon to get the notifications</p>
   </div>
   <div class="col-md-4 footer-box">
    <p><b>Contact Us</b></p>
    <P><i class="fa fa-map-marker"></i> World Trade Center,Pune</P>
    <P><i class="fa fa-phone"></i> 8698962781,Pune</P>
    <P><i class="fa fa-envelope-o"></i> pawarpritee555@gmail.com,Pune</P >
   </div>
   <div class="col-md-4 footer-box">
    <p><b>Subscribe us</b></p>
    <input type="email" class="form-control" placeholder="Your email">
     <button type="button" class="btn btn-primary">Subscribe</button>

    </div>
   </div>

    <p  class="copyright">Website crafted by infinity group</p>
   </div>
  </section>
