<img class="image" src="./assets/imgs/bg1.jpg">
<div *ngFor="let company of companylist" class="blog-post">
  <div class="blog-post-img1">
    <img [src]="company?.user?.profile" alt="company">
</div>
  <div class="blog-post-info">
      <div class="blog-post-title">
        <h2>{{company?.user?.name}}</h2>
      </div>
      <div class="blog-post-date">
          <b> <span>Phone: </span></b>
          <span>{{company?.user?.phone}}</span><br>

          <b> <span>Address: </span></b>
          <span>{{company?.user?.address}}</span><br>

          <b> <span>Email Id: </span></b>
          <span>{{company?.user?.email}}</span><br>
      </div>
  </div>
</div>
